* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(27, 26, 26);
    font-family: Arial, sans-serif;
    padding: 0;
    margin-top: 100px;
  }
  
  .border-box {
    border: none;
    background-color: rgb(36, 35, 35);
    width: 300px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 0; /* Added padding for better spacing */
  }
  
  .content,
  h1,
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1,
  p {
    color: #fff;
  }
  
  span {
    color: yellow;
    font-size: 15px;
  }
  
  h1 {
    font-size: 25px;
    margin-top: 30px;
  }
  
  img {
    border-radius: 100%;
    display: block; /* Added to remove unnecessary spacing */
    margin: 20px auto; /* Centered the image */
    width: 80px;
    height: 80px;
    padding-top: 5px;
  }
  
  .description {
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
  }
  
  .content {
    color: #fff;
  }
  
  .button {
    border-radius: 5px;
    background-color: rgb(70, 67, 67);
    border: 1px; /* Added 'solid' for border style */
    width: 250px;
    height: 40px;
    margin: 20px auto; /* Centered the button */
    text-align: center;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Additional styling for text inside the button */
  .button span {
    padding: 0;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    cursor: pointer;
  }
  /* Media Query for Responsive Design */
  @media (min-width: 760px) and (max-width: 2040px) {
    * {
      width: 400px;
      margin: auto;
    }
  
    .border-box {
      width: 400px;
     
     
    }
  
    .button {
      width: 300px;
    }
  }
  