body{
    background-color: rgb(27, 26, 26);
    font-family: Arial, sans-serif;
    padding: 30px;
}
.border-box{
    border: none;
    background-color: rgb(36, 35, 35);
    width: 450px;
    height: 600px;
    margin: 100px auto;
    border-radius: 10px;
    
}
.content, h1, p{
    text-align: center;
}
h1, p{
    text-align: center;
    color: #fff;
}
span{
    color: yellow;
    font-size: 15px;
}
h1{
    font-size: 25px;
    margin-top: 30px;
}
img{
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 40%;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
}
.description{
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}
.content{
    color: #fff;
}


.button{
   
    border-radius: 5px;
    background-color: rgb(70, 67, 67);
   border: 1px;
    width: 260px;
    height: 30px;
    position: relative;
    text-align: center;
    font-family: Arial;
    
   display: block;
   justify-items: center;
   align-items: center;
     padding-top: 10px;
}
a{
    text-decoration: none;
    color: #fff;
   
}
@media (min-width: 760px) and (max-width: 2040px){
    *{
        width: 340px;
       margin: auto;
       
    }
    .border-box{
        width: 350px;
       
    }
}